<nav>
    <ul class="accordion-menu">
      <li><a href="#">Información General</a>
        <%- include('partials/generalInfo') %>
      </li>
      <li><a href="#">Objetivos</a>
        <%- include('partials/objectives') %>
      </li>
      <li><a href="#">Programas</a>
        <%- include('partials/programs') %>
      </li>
      <li><a href="#">Capacitaciones</a>
        <%- include('partials/trainings') %>
      </li>
      <li><a href="#">Escuela de Oficios</a>
        <%- include('partials/vocationalSchool') %>
      </li>
    </ul>
  </nav>
  